.Modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	max-width: 500px;
	z-index: 100;
	width: 500px;

	&__Header {
		border-radius: 8px 8px 0 0;
		display: flex;
		justify-content: space-between;
		padding: 8px 16px;
		background-color: #333333;
	}

	&__Body {
		background-color: #ffffff;
		padding: 16px 16px 50px;
	}

	&__Footer {
		background-color: #ffffff;
		border-radius: 0 0 8px 8px;
	}
}

.ModalTotal {
	text-align: right;
	color: #ffffff;
	width: 150px;

	&__Label {
		display: block;
		font-size: 14px;
		color: #777777;
	}

	&__Value {
		display: block;
		font-size: 22px;
		color: #ced6e0
	}
}

.FooterPayment {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(163, 163, 163, 0.1);
	padding: 15px 0;

	&__Image {
		height: 30px;
		filter: opacity(.4);
	}
}

.FooterLogo {
	text-align: center;
	background-color: #333333;
	padding: 10px 0;
	overflow: hidden;
	border-radius: 0 0 8px 8px;

}

.ModalLogo {
	height: 40px;
}



.Backdrop {
	//display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0, .4);
	z-index: 0;
	transition: all .3s;
}

.Backdrop.open {
	display: block;
}


//.KastaLogo svg {
//	 height: 32px;
//	 fill: #ffffff;
// }